<div class="container">
  <div class="container-inner">
    <%= render 'shared/global_header' %>

    <div class="row show">
      <div class="contents show-main clearfix">
        <ul>
          <% 6.times do |n| %>
          <li>
            <div class="show-box latest-news">
              <div class="article-title">
                <div class="soruce">
                  <span>記事ソース:朝日新聞デジタル</span><span class="updated-at">2015年01月22日 18時45分 更新</span>
                </div>
                <div class="title"><%= @post.title %></div>
              </div>
              <div class="news-box">
                <div class="eye-catch">
                  <%= image_tag("image02.jpg", { width: 260, height: 160 }) %>
                </div>
                <div class="feature-content">
                  <div class="feature-description">
                    <p><%= raw nl2br(@post.content) %></p>
                  </div>
                </div>
              </div><!-- .news-box -->
              <div class="other-article">
                <div class="other-article-header">ピックアップニュースその他の記事</div>
                <ul>
                </ul>
              </div><!-- .other-article -->
            </div><!-- content-box latest-news -->
          </li>
        <% end %>
        </ul>
      </div><!-- .content -->

      <div class="show-side-box">
        <div class="show-side-box-inner">
          <ul>
            <% 6.times do |n| %>
            <li>
              <div class="sub-item">
                <div class="sub-item-inner">
                  <%= image_tag("image04.jpg") %>
                  <div class="sub-item-desc">
                    <%= rtrim("JR九州の新型車両305系の試乗会が31日、筑肥線筑前前原～唐津間で実施された。筑肥線各駅に305系導入の告知ポスターが掲出され、運転開始日は2月5日(予定)とされている。", len: 40) %>
                  </div><!-- .sub-item-desc -->
                </div><!-- .sub-item-inner -->
              </div><!-- .sub-item -->
            </li>
            <% end %>
          </ul>
        </div><!-- .show-side-inner -->
      </div><!-- .show-side-box -->
    </div><!-- .row -->
  </div><!-- .container-inner -->
</div><!-- .container -->

<%= render 'shared/global_footer' %>
